mem.*
*.class

# Package Files #
*.war
*.ear
/bin/

# Gradle
.gradle
build/
local.properties

# Intellij
*.iml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf/
.idea/modules.xml
.idea/gradle.xml
.idea/libraries/
.idea/dictionaries/
.idea/caches/
